


/* Navbar Start */
#navbar{
    background: #001e6b;
    width: 1260px;
    /* position: fixed;
    background: transparent; */
    
}
#logo{
    font-size: 36px;
    font-weight: 750;
    padding-left: 1px;

    /* margin-left: 10px; */
    float: left;
    color: black;
    text-shadow: 0px 1px 1px black;
    /* margin-bottom: 5px; */
}
#logo span{
    /* padding-left: 10px; */
    color: #ffa500;
    font-size: 30px;
}

#homerk{
    color: #ffa500;
    font-size: 45px;
}

.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-item .nav-link{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: black;
}
#navbar form button{
    background: orange;
    color: white;
    border: none;
}
/* Navbar End */

/* Home Section Start */
.home{
    width: 1260px;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(../images/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 30px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: ' ';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
    font-size: 45px;

}
@keyframes changetext{
    0%{content: "Goa";}
    10%{content: "Kerala";}
    20%{content: "Chennai";}
    30%{content: "Banglore";}
    40%{content: "Mysore";}
    50%{content: "Wayanad";}
    60%{content: "Ooty";}
    70%{content: "Thirupati";}
    80%{content: "Kanyakumari";}
    90%{content: "Kodaikanal";}
    100%{content: "Yercaud";}
} 
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover{
    background: #ffa500;
    color: white;
}
@media (max-width:850px){
    .home{
        background-position: 50%;
    }
}
@media (max-width:450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */



@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
/* Section Book End */





/* Section Packages Start */


/* Section Packages End */




/* Section Services Start */

/* Section Services End */





/* Section Gallary Start */

/* About End */




/* Footer Start */
#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span{
    color: #ffa500;
}
.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #ffa500;
}
/* Footer End */

#morepackage{
    float: right;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}